InfraSettings__UseExternalResources=false

ConnectionStrings__redis=localhost:6379,ssl=false
ConnectionStrings__rabbitmq=amqp://guest:guest@localhost:5672/%2F
ConnectionStrings__saga-db=Host=localhost;Port=5432;Database=mt_saga_order_processing;Username=postgres;Password=postgres;Include Error Detail=false

Cache__Redis__Host=localhost
Cache__Redis__Port=6379
Cache__Redis__Password=
Cache__Redis__Secure=false
Cache__Redis__InstanceName=mt-saga-order-processing
Messaging__RabbitMq__Host=localhost
Messaging__RabbitMq__Port=5672
Messaging__RabbitMq__Username=guest
Messaging__RabbitMq__Password=guest
Messaging__Topology__EventsExchangeName=orders.events-exchange
Messaging__Topology__EventsExchangeType=topic
Database__Postgres__Host=localhost
Database__Postgres__Port=5432
Database__Postgres__Username=postgres
Database__Postgres__Password=postgres
Database__Postgres__Database=mt_saga_order_processing
Database__Postgres__IncludeErrorDetail=false
Networking__ForwardedHeaders__Enabled=true
Networking__ForwardedHeaders__KnownProxies__0=10.0.0.1
