Cache__Redis__Host=localhost
Cache__Redis__Port=6379
Cache__Redis__Password=
Cache__Redis__Secure=false
Cache__Redis__InstanceName=mt-saga-order-processing
Messaging__RabbitMq__Host=localhost
Messaging__RabbitMq__Port=5672
Messaging__RabbitMq__Username=guest
Messaging__RabbitMq__Password=guest
Database__Postgres__Host=localhost
Database__Postgres__Port=5432
Database__Postgres__Username=postgres
Database__Postgres__Password=postgres
Database__Postgres__Database=mt_saga_order_processing
